# to avoid weird circular issues
.cfg

# private files
.priv_bash_aliases
.doom./priv.el

# homework template
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
.auctex-auto/
